@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* Custom colors */
  --color-primary: #7C3AED;
  --color-secondary: #000000;
  --color-accent: #ffffff;
  --color-neutral: #F3F4F6;
  --color-base-100: #FFFFFF;
  --color-base-content: #1F2937;
  --color-hoverpurple: #F3E8FF;

    /* Always black */
  --color-black: #000000;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #7C3AED;
  --color-secondary: #FFFFFF;
  --color-accent: #000000;
  --color-neutral: #1F2937;
  --color-base-100: #111827;
  --color-base-content: #FFFFFF;
  --color-hoverpurple: #272d38;

    /* Always black */
  --color-black: #000000;
}